* {
  margin: auto;
  padding: auto;
}

header {
  width: 1000px;
  height: 150px;
  background-image: url(img/header.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.data {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 60px;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header_newsletter {
  display: flex;
  justify-content: flex-end;
  margin-top: -35px;
  padding-right: 150px;
  font-size: 20px;
  color: rgb(35, 85, 35);
  text-shadow: 1px 1px 0 #8d8b8b;
  font-family: Arial, Helvetica, sans-serif;
}

.header_tarifas {
  margin-top: 10px;
  margin-left: 500px;
  font-size: 18px;
  font-family: sans-serif;
  text-shadow: 0.5px 0.5px 0 #8d8b8b;
}

main {
  width: 1000px;
  height: 1200px;
  background-image: url(img/main.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.negrito {
  font-weight: bold;
  color: black;
}

.veja {
  padding-top: 55px;
  margin-left: 190px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #8d8b8b;
}

.caixa_reajuste {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
  gap: 50px;
  padding: 5%;
  height: 350px;
}

.titulo_caixa_reajuste {
  display: flex;
  justify-content: space-around;
  color: rgb(18, 75, 104);
  font-size: 20px;
  font-family: Arial, Helvetica, bold, sans-serif;
  padding-top: 270px;
  font-weight: bold;
}

.texto_caixa_reajuste {
  width: 500px;
  height: 500px;
  text-align: justify;
  font-family: Arial;
  font-size: 12px;
  color: #575555;
}

p {
  margin-bottom: 10px;
}

.acesse {
  color: black;
  margin-top: 70px;
  margin-left: 300px;
  font-family: Arial;
  font-size: 18px;
}

.caixa_grafico {
  display: flex;
  justify-content: space-around;
  padding-left: 120px;
  height: 60px;
}

.subtitulo_reajuste {
  color: rgb(76, 113, 131);
  text-shadow: 1px 1px 0 #8d8b8b;
  font-size: 20px;
  font-family: Arial, Helvetica, bold, sans-serif;
  padding-bottom: 000px;
  padding-left: 00px;
}

.subtitulo_reajustes_medios {
  color: rgb(18, 75, 104);
  text-shadow: 1px 1px 0 #8d8b8b;
  font-size: 22px;
  font-family: Arial, Helvetica, bold, sans-serif;
  font-weight: bold;
  padding-bottom: 00px;
  padding-left: 00px;
}

li {
  width: 410px;
  text-align: justify;
  font-size: 12px;
  font-family: Arial;
  margin-left: 500px;
}

.subtitulo_cenario {
  color: rgb(76, 113, 131);
  text-shadow: 1px 1px 0 #8d8b8b;
  font-size: 20px;
  font-family: Arial, Helvetica, bold, sans-serif;
  padding-bottom: 50px;
  padding-left: 20px;
  width: 400px;
  margin-bottom: 40px;
  text-align: center;
}

footer {
  font-size: small;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  height: 80px;
  background-image: url(img/footer.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.contato {
  font-size: small;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 80px;
  gap: 10px;
}

.img {
  margin-top: 45px;
  margin-left: -20px;
  margin-right: 30px;
}

footer p {
  text-align: justify;
}

.footer_siga_nos {
  color: rgb(14, 176, 216);
  margin-left: 200px;
  width: 180px;
}

.divisor {
  width: 4px;
}
